<section>
  <div class="name">
    <div class ="first">
        SoftCare
    </div>
    <div class="copyright">
      <img src="assets/copyright.png" alt="copyright">
    </div>
    <div>
      <div class="divider div-transparent"></div>
    </div>
    <div class="second">
        Dbamy o Twoje zdrowie
    </div>
    <div class="plus">
      <img src="assets/plus.png" alt="plus">
    </div>
    <div class="heart">
      <img src="assets/heart.png" alt="heart">
    </div>
    <div class="hand">
      <img src="assets/hand.png" alt="hand">
    </div>
  </div>
  <div class="image">
    <div class="firstimage"></div>
    <div class="secondimage"></div>
    <div class="thirdimage"></div>
    <div class="fourthimage"></div>
  </div>
  <div class="text">
    <div class="firsttext">
      Profesjonalna
    </div>
    <div class="secondtext">
      opieka
    </div>
    <div class="thirdtext">
      medyczna
    </div>
    <div class="fourthtext">
      Wykonywanie
    </div>
    <div class="fifthtext">
      badań
    </div>
    <div class="sixthtext">
      obrazowych
    </div>
    <div class="seventhtext">
      Prywatne
    </div>
    <div class="eighthtext">
      konsultacje
    </div>
    <div class="ninthtext">
      lekarskie
    </div>
    <div class="tenthtext">
      Specjalistyczny
    </div>
    <div class="eleventhtext">
      sprzęt
    </div>
    <div class="twelfthtext">
      medyczny
    </div>
  </div>
</section>