<img src="../../assets/tomografia.jpg" alt="">
<h1>Tomografia komputerowa</h1>Tomografia komputerowa to technika obrazowania, która pozwala na dokładne wykrywanie
zmian w
budowie analizowanego obszaru ciała. Wykorzystuje ona te same mechanizmy
działania co badanie RTG, jednak w bardziej zaawansowanej formie. Aparatura medyczna wykorzystywana w tym badaniu jest ruchoma, a
tysiące zarejestowanych zdjęć łączone są w jedną całość tworząc tym samym trójwymiarowy obraz. Badanie trwa od pięciu do dwudziestu minut.
