<img src="../../assets/rezonans.jpg" alt="">
<h1>Rezonans magnetyczny</h1>Rezonans magnetyczny jest badaniem umożliwającym uzyskanie obrazu danej części
anatomicznej, diagnozującym tym samym nieprawidłowości w jej budowie. W przeciwienstwie do badania RTG i tomografii
komputerowej, nie wymaga ono stosowania promieniowania jonizującego. Do obrazowania wykorzystuje się pole magnetyczne i fale
radiowe. Całość trwa jednak dłużej niż w przypadku wymienionych wcześniej badań, ale procedura jest całkowicie
bezpieczna.
