<div class="wrapper">

  <img src="../../assets/clinic.jpg" alt="">
  <h1>Witaj w przychodni SoftCare!</h1>Nasza przychodnia zadba o Twoje zdrowie. To przyjazne, nowoczesne
  miejsce, w którym poczujesz się komfortowo i bezpiecznie. Oferujemy prywatne konstulacje medyczne
  z zakresu pięciu specializacji - kardiologii, laryngologii, stomatologii, neurologii i okulistyki. Nasza kadra składa
  się z wykwalifikowanych lekarzy, którzy z największą starannościa
  pomogą w profilaktyce, diagnozie oraz leczeniu Twojego stanu zdrowia. Elastyczne godziny przyjęć zapewnią Ci możliwość
  sprawnej rejestracji na wizytę. Ponadto przychodnia oferuje wykonywanie badań obrazowych - badania rentgenowskiego
  RTG, tomografii komputerowej CT i rezonansu magnetycznego MRI, których jakość zapewnia
  najwyższej klasy sprzęt medyczny. Zarówno na wyzytę lekarską jak i badanie zapiszesz się na naszej stronie
  internetowej. W przychodni czeka na ciebie przestronne, estetyczne wnętrze i uprzejmi pracownicy, którzy zadbają o
  Twoje dobre samopoczucie. Przy budynku znajduje się wiele miejsc parkingowych, dzięki czemu nie będziesz miał problemu
  z zostawieniem samochodu na czas pobytu w przychodni. Skorzystaj z naszych usług medycznych i ciesz się zdrowiem przez
  długie lata. Zapraszamy!
</div>
